<!doctype html>
<html ng-app="MyModule">
    <head>
	<title> Home  </title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src="core.js"></script>
	</head >
	  <body  ng-controller="MyController2">
      <p> <p> <center>
    <h1>  insérer votre questionnaire</h1> <p>

        <form id="idParts" ng-submit=""
                 enctype="multipart/form-data"
                 action=""
                 method="post"

             >
      <button class="btn btn-default btn-sm"  ui-sref="AjoutPartie" ng-click="" > La partie suivante </button><p> <p>
    </form>
	  </body>
</html>
